{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}My Blog{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'blog/styles.css' %}">
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="{% url 'blog:home' %}">Home</a></li>
            <li><a href="{% url 'blog:login' %}">Create Post</a></li>
            <li><a href="{% url 'blog:login' %}">Start Reading</a></li>
            <li><a href="{% url 'blog:login' %}">Sign In</a></li>
            <li><a href="{% url 'blog:profile' %}">Profile</a></li>
            <li class="right"><a href="{% url 'blog:profile' %}">Profile</a></li>
        </ul>
    </div>
    {% block content %}
    <h2>Register</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{% url 'blog:login' %}">Login here</a></p>
    {% endblock %}
</body>